@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

:root {
    --timberwolf: hsla(150, 14%, 84%, 1);
    --alabaster: hsla(81, 28%, 90%, 1);
    --maize-crayola: hsla(44, 88%, 66%, 1);
    --eerie-black: hsla(60, 1%, 14%, 1);
    --jet: hsla(120, 2%, 20%, 1);
}

body {
    margin: 0;
    font-family: 'Zen Kurenaido', sans-serif;
    min-height: 100vh;
    display: grid;
    justify-content: center;
    background-color: var(--jet);
}

#content {
    background-color: aliceblue;
    display: grid;
    grid-template-columns: minmax(min-content, 960px);
    grid-template-rows: min-content 1fr min-content;
}

header {
    background-color: var(--maize-crayola);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 30px;
}

#logo {
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
}

nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

nav button {
    border: none;
    background: none;
    padding: 10px 30px;
    font-weight: 900;
    text-transform: uppercase;
}

nav button:hover {
    color: var(--jet);
}

main {
    background-color: var(--eerie-black);
    padding: 10px 30px;
    color: var(--alabaster);
}

#imageheader {
    padding: 30px 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 30px;}

#interior-img {
    padding: 10px;
    background-color: var(--timberwolf);
    color: black;
    font-family: 'Dancing Script', cursive;
}

#interior-img img {
    width: 300px;
}

#interior-img h3 {
    margin: 0;
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}

#testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

footer {
    background-color: var(--maize-crayola);
    padding: 10px 30px;
    font-size: 0.5rem;
}